
@media only screen and (min-width: 38rem) {

    #menuButton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    nav {
        grid-template-rows: 1fr;
    }

    .cards-container {
        gap: 30px;
        align-items: start;

    }

    .currentWeather, .weatherForecast, .events, .spotlights {
        width: 100%;
        min-height: 400px;
        padding: 1.5rem;
    }

    .membership-container {
        flex-direction: row;
    }

    .membership-application {
        width: 65%;
    }

    .membership-levels {
        width: 30%;
        margin-top: 0;
    }
 

}

@media only screen and (min-width: 64rem) {
    #places {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #places div img:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
}
