
body {
    font-family: "Big Shoulders", sans-serif;
}

header {
    display: grid;
    grid-template-columns: 90px auto 44px;
    align-items: center;
}


nav {
    background-color: rgb(207, 204, 204);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

main {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;

}


#menuButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .25rem 2vw;

}

#menuButton::before {
    content: "=";
}

#menuButton.open::before {
    content: "X";
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: black;
    text-decoration: none;
}

ul.menuLinks {
    list-style-type: none;
}

ul.menuLinks a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

li.active a {
    background-color: rgba(59, 58, 58, 0.2);
}

.menu {
    margin: 1rem auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5rem;
    background-color: #fff;
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}

.cta-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    background-color: rgba(168, 166, 168, 0.5);
    padding: 20px;
    color: black;
}

.cta-button {
    display: inline-block;
    padding: 15px 25px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: rgb(90, 13, 90);
}

#cards-container {
    min-height: 500px;
}

#directory-list {
    min-height: 300px;
    display: none;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
    max-width: 100%;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding: 1rem;
}


.hero-container {
    position: relative;
    width: 100%;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

h3 {
    text-align: center;
    color: #333;
    margin: 1rem 0;
    background-color: rgb(207, 204, 204);
    color: black;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    width: 100%;
}

.currentWeather, .weatherForecast, .events {
    flex: 1;
    max-width: none;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 1rem auto;
}

.currentWeatherCard h4, .weatherForecastCard h4, .events h4 {
    color: #333;
    margin: .3rem 0;
}

.currentWeatherCard #description {
    text-transform: capitalize;
    color: #333;
    margin: .3rem 0;
}

.currentWeatherCard #temperature, .forecastCard p {
    font-size: 2rem;
    color: #333;
    margin: .3rem 0;
}

@media (max-width: 37rem) {
    .cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .currentWeather, .weatherForecast, .events {
        width: 100%;
        max-width: 90%;
    }
}

.card, .spotlight-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card img, .spotlight-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.even-row {
    background-color: #f9f9f9;
}

.odd-row {
    background-color: #e0e0e0;
}

.list {
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
}

.list th, .list td {
    padding: 10px;
    border: 1px solid #ccc;
}

.list th {
    background-color: #333;
    color: white
}

#spotlight-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.membership-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


form button {
    background-color: rgb(207, 204, 204);
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Big Shoulders", sans-serif;
}

form button:hover {
    background-color: rgb(90, 13, 90);
    color: white;
}

.membership-application {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}

.membership-levels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
}

#membershipCards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.membership-card {
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInScale 1.5s ease-out forwards, colorShift 5s ease-in-out infinite alternate;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


.learnMoreButton {
    background-color: rgb(207, 204, 204);
    color: black;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    font-family: "Big Shoulders", sans-serif;
}

.learnMoreButton:hover {
    background-color:rgb(90, 13, 90);
    color: white;
}

#places div {
    margin: 1rem 8px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-template-areas:
        "name"
        "photo"
        "description"
        "location"
        "learn-more";
}

#places div h2 {
    color: black;
    margin: 1rem 10px;
    grid-area: name;
}

#places div img {
    grid-area: photo;
    width: 100%;
    height: auto;
}

#places div p {
    margin: 1rem 10px;
    grid-area: description;
}

#places div address {
    margin: 1rem 10px;
    grid-area: location;
}

.learn-more-btn {
    background-color: rgb(207, 204, 204);
    color: black;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 1rem 10px;
    font-family: "Big Shoulders", sans-serif;
    text-align: center;
    grid-area: learn-more;
}

#visitMessage {
    text-align: center;
    margin: 1rem auto;
}



footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(207, 204, 204);
    padding: 1rem;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    text-align: center;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

.social-icon {
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.social-icon:hover {
    color: #007bff;
}

